<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jersey.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A14CCFA029D3BA6E007B21BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14CCFB029D3BA6F007B21BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14CCFBA29D3BA6F007B21BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
